.bracket-card{
    width: 18rem;
    background-color: #dbdbdb;
}

.matchFocusMain{
    text-align: center;
}

.asset-match-focus-teams{
    font-size: 7vw;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: white;
    color: white;
    text-shadow: 5px 5px 10px #000000;
}

.match-focus-25{
    width: 25%;
    text-align: center;
    position: relative;
}

.match-focus-50{
    width: 50%;
    text-align: center;
}

.player-card-col{
    width: 33%;
}

.player-card-row{
    padding-left: 2em;
    padding-right: 2em;
}

.player-card{
}