.bracket-card{
    width: 18rem;
    background-color: #dbdbdb;
}

.matchFocusMain{
    text-align: center;
}

.asset-match-focus-teams{
    font-size: 7vw;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: white;
    color: white;
    text-shadow: 5px 5px 12px #000000;
}

.match-focus-25{
    width: 25%;
    position: relative;
}

.match-focus-50{
    width: 50%;
    text-align: center;
}

.player-card-col{
    width: 33%;
}

.player-card-row{
    padding-left: 2em;
    padding-right: 2em;
}

.player-card{
}

.player-card-right{
    text-align: right;
}
.player-card-left{
    text-align: left;
}

.bg-cburg{
    background: linear-gradient(
        to right,
        #fb665d,
        #f24187,
        #b82dd1,
        #8d26ff,
        #5a4efe,
        #4660fa,
        #1c81ff,
        #1597f5
      );
}