.bracket-card{
    width: 18rem;
    background-color: #dbdbdb;
}

.matchFocusMain{
    text-align: center;
}

.asset-match-focus-teams{
    font-size: 7vw;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: white;
    color: white;
    /*text-shadow: 5px 5px 12px #000000;*/
}

.match-focus-25{
    width: 25%;
    position: relative;
}

.match-focus-50{
    width: 50%;
    text-align: center;
}

.player-card-col{
    width: 33%;
}

.player-card-row{
    padding-left: 2em;
    padding-right: 2em;
}

.player-card{
}

.player-card-right{
    text-align: right;
}

.player-card-left{
    text-align: left;
}

.schedule-team{
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: rgba(20, 20, 20, 0.8);
}

.schedule-time{
}

.schedule-vs{
    background-color: rgba(32, 32, 32, 0.8);
    border-right: solid;
    border-left: solid;
    border-color: rgba(255, 255, 255, 0.3);
}

.player-focus{
    background-color: rgba(32, 32, 32, 0.8);
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 7vh;
}

.player-focus-img{
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-color: rgba(255, 255, 255, 0.3);
}

.player-focus-img-pic{
    width: 300px;
}

.player-focus-name{
    color: white;
}

.player-focus-info{
    margin-left: 10vw;
    font-style: italic;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 95vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

.countdownClock{
    font-size: 3vw;
}

.countdownBanner{
    font-size: 2vw;
}

.countdownContainer{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3vw;
}

.sponsor-container{
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 5vw;
    padding-right: 10vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
}